
.result-pane {
  height: 100%;
  overflow-x: auto;
  padding: 10px;

  padding-left: 20px;
  color: #444;


  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5em;
}
